<div class="social-buttons">
  <a class="btn btn-follow color-facebook" target="_blank"
    href="https://www.facebook.com/beststoriesonline">
    <i class="fa fa-facebook-square fa-2x fa-fw"></i>
    <span>FOLLOW</span>
  </a>
  <a class="btn btn-follow color-twitter" target="_blank"
    href="https://twitter.com/beststorieson">
    <i class="fa fa-twitter fa-2x fa-fw"></i>
    <span>FOLLOW</span>
  </a>
  <a class="btn btn-follow color-pinterest" target="_blank"
    href="https://www.pinterest.com/beststorieson">
    <i class="fa fa-pinterest fa-2x fa-fw"></i>
    <span>FOLLOW</span>
  </a>
  <a class="btn btn-follow color-linkedin" target="_blank"
    href="https://www.linkedin.com/company/best-stories-online">
    <i class="fa fa-linkedin-square fa-2x fa-fw"></i>
    <span>FOLLOW</span>
  </a>
</div>
