<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ '/dcma/' | prepend: site.url }}">DCMA Information</a></li>
          <li><a href="{{ '/archive.html' | prepend: site.url }}">Archive</a></li>
          <li><a href="{{ '/about/' | prepend: site.url }}">About</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
	  <li>
	    <a href="https://twitter.com/{{ site.twitter_username }}">
	      <i class="fa fa-twitter"></i>
	      <span class="username">beststorieson</span>
	    </a>
	  </li>
	  <li>
	    <a href="https://facebook.com/beststoriesonline">
	      <i class="fa fa-facebook-square"></i>
	      <span class="username">beststoriesonline</span>
	    </a>
	  </li>
	  <li>
	    <a href="https://linkedin.com/company/best-stories-online">
	      <i class="fa fa-linkedin-square"></i>
	      <span class="username">Best Stories Online</span>
	    </a>
	  </li>
	  <li>
	    <a href="https://pinterest.com/beststorieson">
	      <i class="fa fa-pinterest-square"></i>
	      <span class="username">beststorieson</span>
	    </a>
	  </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
