---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title"><b>{{ page.title }}</b></h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <hr>
  <div class="social-buttons">
    <a class="btn btn-share share-facebook color-facebook"><i class="fa fa-facebook-square fa-lg"></i> <span class="hidden-small"> &nbsp; SHARE</span></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title | truncate:80 | cgi_escape }}&url={{ page.url | prepend: site.url | cgi_escape }}&via=beststorieson" class="btn btn-share share-twitter
    color-twitter"><i class="fa fa-twitter fa-lg"></i></a>
    <a href="http://pinterest.com/pin/create/link/?url={{ page.url | prepend: site.url | cgi_escape }}&media={{ page.image | prepend: '/assets/' | prepend: site.url | cgi_escape }}&description={{ page.title | cgi_escape }}" target="_blank" class="btn btn-share share-pinterest color-pinterest pin-it-button"><i class="fa fa-pinterest fa-lg"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | cgi_escape }}&title={{ page.title | cgi_escape }}&summary={{ page.excerpt | strip_html | cgi_escape }}&source={{ 'Best Stories Online' | cgi_escape }}" class="btn btn-share share-linkedin color-linkedin"><i class="fa fa-linkedin-square fa-lg"></i></a>
    <a href="{{ '#disqus_thread' | prepend: page.url }}" class="btn btn-share btn-comments"><i class="fa fa-comments fa-lg"></i></a>
  </div>
  <hr>

  <article class="post-content">
    {{ content }}
  </article>


  <br>
  <hr>
  <div class="social-buttons">
    <a class="btn btn-share share-facebook color-facebook"><i class="fa fa-facebook-square fa-lg"></i> <span class="hidden-small"> &nbsp; SHARE</span></a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title | truncate:80 }}&url={{ page.url | prepend: site.url | cgi_escape }}&via=beststorieson" class="btn btn-share share-twitter
    color-twitter"><i class="fa fa-twitter fa-lg"></i></a>
    <a href="http://pinterest.com/pin/create/link/?url={{ page.url | prepend: site.url | cgi_escape }}&media={{ page.image | prepend: '/assets/' | prepend: site.url | cgi_escape }}&description={{ page.title | cgi_escape }}" target="_blank" class="btn btn-share share-pinterest color-pinterest pin-it-button"><i class="fa fa-pinterest fa-lg"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | cgi_escape }}&title={{ page.title | cgi_escape }}&summary={{ page.excerpt | strip_html | cgi_escape }}&source={{ 'Best Stories Online' | cgi_escape }}" class="btn btn-share share-linkedin color-linkedin"><i class="fa fa-linkedin-square fa-lg"></i></a>
    <a href="{{ '#disqus_thread' | prepend: page.url }}" class="btn btn-share btn-comments"><i class="fa fa-comments fa-lg"></i></a>
  </div>
  <hr>
  <div class="more">
    <p><strong>More {{ page.category | capitalize }} News:</strong></p>
    <ul>
    {% assign i = 0 %}
    {% for post in site.categories[page.category] limit:4 %}
      {% if post.title != page.title and i < 3  %}
      <li><a href="{{post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% assign i = i + 1 %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  {% include kaboodle.html %}

  <div class="comments-wrapper">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = 'beststoriesonline';
	
	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
	    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
</div>
